html {
  height: 100%;
}

body {  
  position: relative;
  height: 100%;  
  margin: 0;
  padding: 0;
}

#board {
  position: absolute;    
  background-color: skyblue;    
  width: 40vw;
  height: 40vw; 
  left: 30vw;
  bottom: 30vh;   
  border: solid 10px slategrey;
  border-radius: 10px;
  
}

#score {
  background-color: wheat;
  width: 5vw;
  height: 5vh;
  position: absolute;  
  bottom: 0vh;
  left: 0vw;
}

.snake {
  background-color: black;
  box-shadow: 0 0 5px black;
  position: absolute;
}

.food {
  background-color: yellow;
  position: absolute;
}

.object {
  background-color: red;
  position: absolute;
}
