html {
  height: 100%;
}

body {  
  display: flex;      
  flex-direction: column;
  justify-content: center;
  background-image: url("../images/space");
  height: 100%;  
  margin: 0;
  padding: 0;
}

.board {
  position: absolute;    
  background-color: whitesmoke;      
  border: solid 10px slategrey;
  border-radius: 10px;
  margin: 100px 100px;
  
}

#score {
  background-color: wheat;
  width: 5vw;
  height: 5vh;
  position: absolute;  
  bottom: 0vh;
  left: 0vw;
}

.ufo {
  background-image: url("../images/skeleton-animation_00.png");  
  background-repeat: no-repeat;  
  background-position: center; 
  background-size: cover; 
  position: absolute;  
}


.fuel {
  background-image: url("../images/fuel");  
  background-repeat: no-repeat;  
  background-position: center; 
  background-size: cover; 
  position: absolute;    
}

.asteroids {
  background-image: url("../images/Asteroid-Transparent-PNG.png");  
  background-repeat: no-repeat;  
  background-position: center; 
  background-size: cover; 
  position: absolute;  
}

#game-over {
  display: flex;    
  flex-direction: column;
  justify-content: end;
  width: 600px;
  height: 600px;
  background-image: url("../images/game-over.jpg");
  text-align: center;
  margin: 0 auto;  
  border-radius: 10px;
  border: solid 10px black;  
  
}

#link {
  background-color: grey;  
  color: white;
  border: solid 5px grey;
  border-radius: 10px;
  box-shadow: 3px;
  width: 100px;
  align-self: center;
  margin-bottom: 40px;
  text-decoration: none;
}




#game-start {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: aquamarine;
  text-align: center;
  margin: 0 auto;  
  border-radius: 10px;
  border: solid 10px skyblue;
  bottom: 50vh;
  left: 50vw;
  
  
}

