html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #fcfcfc;
  margin: 0;
  padding: 0;
}

#board {
  position: relative;
  background-color: skyblue;
  height: 50vh;
  width: 50vw;
  left: 25vw;
  top: 25vh;
  
}

.snake {
  background-color: black;
  position: absolute;
}
